name: Job - Test (large size)

on:
  workflow_call:

jobs:
  test:
    name: Run Large Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: read
      issues: write
    defaults:
      run:
        working-directory: tests/acceptance
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'
          cache: true

      - name: Tidy dependencies
        run: go mod tidy

      - name: Run large tests
        env:
          GH_TOKEN: ${{ github.token }}
          ATAT_TEST_REPO: ${{ vars.ATAT_TEST_REPO }}
        run: go test -tags=large ./...