name: Job - Lint and Format

on:
  workflow_call:

jobs:
  lint:
    name: Run Lint and Format Check
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.5'
          cache: true

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
